
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="center-Panel" style="overflow-x: hidden">
    <input type="hidden" id="Kind" value="@ViewBag.Kind">
    <div class="panel panel-default">
        <div class="panel-body">
            <label class="control-label  col-sm-1">标题</label>
            <div class="col-sm-3">
                <input type="text" id="Atitle" class="form-control" placeholder="标题/来源/作者">
            </div>
            <label class="control-label col-sm-1">提交日期</label>
            <div class="col-sm-3">
                @Html.DaterangePicker("Atime", "提交日期")
            </div>
            @{
                if (ViewBag.Kind == 5 || ViewBag.Kind == 6)
                {
                    <label class="control-label  col-sm-1">分类</label>
                    <div class="col-sm-3">
                        @Html.Multiselect("Asid", "/ArticleSort/GetListJson", "{}", "Asid", "Stitle", "==请选择==", true)
                    </div>
                }
            }
            <label class="control-label col-sm-1"></label>
            <div class="col-sm-3">
                <input type="checkbox" id="Alive" /><label for="Alive">屏蔽</label>
                @{
                    if (ViewBag.Kind == 1 || ViewBag.Kind == 2 || ViewBag.Kind == 3 || ViewBag.Kind == 4 || ViewBag.Kind == 5 || ViewBag.Kind == 6 || ViewBag.Kind == 8)
                    {

                        <input type="checkbox" id="Hot" /><label for="Hot">热点文章</label>
                        <input type="checkbox" id="Recommend" /><label for="Recommend">推荐文章</label>
                    }
                }
            </div>
            <div class="col-sm-4 text-right">
                <a id="btn_Search" class="btn btn-primary lr-search"><i class="fa fa-search "></i>&nbsp;查询</a>
            </div>
        </div>
    </div>
    <div class="toolbar">
        <a class="btn btn-default" id="lr-replace" onclick="reload()"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
        <a class="btn btn-default" id="lr-Add" onclick="Add()"><i class="fa fa-plus"></i>&nbsp;新增</a>
        <a class="btn btn-default" id="lr-Edit" onclick="Edit()"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
        <a class="btn btn-default" id="lr-Del" onclick="Del()"><i class="fa fa-remove"></i>&nbsp;删除</a>
        @{
            if (ViewBag.Kind == 1 || ViewBag.Kind == 2 || ViewBag.Kind == 3 || ViewBag.Kind == 4 || ViewBag.Kind == 5 || ViewBag.Kind == 6 || ViewBag.Kind == 8)
            {
                <a class="btn btn-default" id="lr-Hot" onclick="Hot()"><i class="fa fa-flag"></i>&nbsp;热点</a>
                <a class="btn btn-default" id="lr-Recommond" onclick="Recommend()"><i class="fa fa-star"></i>&nbsp;推荐</a>
            }
        }
        <a class="btn btn-default" id="lr-AliveFalse" onclick="AliveFalse();"><i class="fa fa-stop"></i>&nbsp;屏蔽</a>
        <a class="btn btn-default" id="lr-AliveTrue" onclick="AliveTrue()"><i class="fa fa-play"></i>&nbsp;启用</a>
        <a class="btn btn-default" id="lr-Layer" onclick="Layer()"><i class="fa fa-sort-numeric-desc"></i>&nbsp;更改序号</a>
    </div>
</div>
@{
    Hi_Core.Domain.JQGridModel m = Hi_Core.Web.Models.ArticleGrid.Index(ViewBag.Kind);
    m.postData = new { queryJson = "{ Kind:" + ViewBag.Kind + "}" };
    @Html.JQGrid(m);
}

<script>
    $(function () {
        //loadGrid();
        //查询事件
        $("#btn_Search").click(function () {
            var queryJson = $(".center-Panel").GetWebControls();
            $("#Article_gridTable").jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) },
                page: 1
            }).trigger('reloadGrid');
        });
    });

    //新增
    function Add() {
        $.fn.modalOpen({
            id: "ArticleForm",
            title: '添加',
            url: '/Article/Add?k=1',
            width: "950px",
            height: "750px",
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }
    //编辑
    function Edit() {
        var id = $("#Article_gridTable").jqGridRowValue("Aid");
        if (checkedRow(id)) {
            $.fn.modalOpen({
                id: "ArticleForm",
                title: '编辑',
                url: '/Article/Add?id=' + id,
                width: "950px",
                height: "750px",
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            });
        }
    }
    //删除
    function Del() {
        var ids = $("#Article_gridTable").jqGridRowValue("Aid");
        if (!!ids) {
            $.fn.deleteForm({
                url: "/Article/Del",
                param: { ids: ids },
                success: function (data) {
                    $("#Article_gridTable").trigger("reloadGrid");
                }
            })
        } else {
            $.fn.modalMsg("您没有选中任何项,请您选中后再操作。", "warning");
        }
    }
    //热点
    function Hot() {
        var id = $("#Article_gridTable").jqGridRowValue("Aid");
        if (checkedRow(id)) {
            $.fn.submitAjax({
                target: "#Article_gridTable",
                url: "/Article/Hot",
                param: { id: id },
                success: function (data) {
                    $("#Article_gridTable").trigger("reloadGrid");
                }
            });
        }
    }
    //推荐
    function Recommend() {
        var id = $("#Article_gridTable").jqGridRowValue("Aid");
        if (checkedRow(id)) {
            $.fn.submitAjax({
                target: "#Article_gridTable",
                url: "/Article/Recommend",
                param: { id: id },
                success: function (data) {
                    $("#Article_gridTable").trigger("reloadGrid");
                }
            });
        }
    }
    //屏蔽
    function AliveFalse() {
        var ids = $("#Article_gridTable").jqGridRowValue("Aid");
        if (!!ids) {
            $.fn.submitAjax({
                target: "#Article_gridTable",
                url: "/Article/AliveFalse",
                param: { ids: ids },
                success: function (data) {
                    $("#Article_gridTable").trigger("reloadGrid");
                }
            });
        } else {
            $.fn.modalMsg("您没有选中任何项,请您选中后再操作。", "warning");
        }
    }
    //启用
    function AliveTrue() {
        var ids = $("#Article_gridTable").jqGridRowValue("Aid");
        if (!!ids) {
            $.fn.submitAjax({
                target: "#Article_gridTable",
                url: "/Article/AliveTrue",
                param: { ids: ids },
                success: function (data) {
                    $("#Article_gridTable").trigger("reloadGrid");
                }
            });
        } else {
            $.fn.modalMsg("您没有选中任何项,请您选中后再操作。", "warning");
        }
    }
    //更改序号
    function Layer() {
        var keyValue = $("#Article_gridTable").jqGridRowValue("Aid");
        if (checkedRow(keyValue)) {
            $.fn.confirmAjax({
                msg: "注：您确定要【删除】该定时任务么？该删除操作会级联删除任务日志，请谨慎操作！",
                url: "/SysMgr/SchedulerMgr/DeleteJobStatus",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#Article_gridTable").trigger("reloadGrid");
                }
            });
        }
    }

    //格式化显示状态
    function showStatus(cel, row, opt) {
        return cel ? "<span class='label label-success'>√</span>" : "<span class='label label-danger'>×</span>";
    }

    //格式化Pic1字段
    function Pic1_formatter(cel, row, opt) {
        if (cel != "") {
            return '<a class="col"href="/' + cel + '" target="_blank">√</a>';
        } else {
            return '×';
        }
    }
</script>


